doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards
            br
            | Node Lessons
            br
            a(href="http://localhost:3000/") Our site

